html {
    font-size: 62.5%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    align-items: center;
    display: flex;
    flex-direction: column;
}

body {
    /* z-index: 1; */
    /* opacity: 0.75; */
    background-color: #CCF2F9;
}

.logo {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    /* background-color: #d9d9d9; */
}

.login {
    z-index: auto;
    height: 410px;
    margin: 0 34px;
    padding: 52px 38px 33px 37px;
    background-color: #fff;
    /* opacity: 0.75; */
    display: flex;
    flex-direction: column;
    align-items: center;

    .loginInner {
        justify-content: right;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .loginBox {
        /* text-align: left; */
        justify-content: left;
        display: flex;
        width: 250px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 5px;
        font-size: 2rem;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 40px;
        }
    }

    .loginBtn {
        font-size: 2.4rem;
        color: #fff;
        border-radius: 5px;
        background-color: #4359FF;
        padding: 5px 52px;
        margin-bottom: 25px;
    }

    .helpBtn {
        font-size: 1.6rem;
        text-decoration: none;

        &:first-of-type {
            margin-bottom: 15px;
        }
    }
}