html {
    font-size: 62.5%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #99D2DC;
    padding: 0 20px;
    margin-top: 60px;

    .menu {
        color: #000;
        background-color: #fff;
        text-decoration: none;
    }
}